.app__todoList {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 5px;
  display: flex;
  position: relative;
  text-align: center;
  line-height: 1em;
  /* align-items: center; */
  font-size: 30px;
  border-bottom: 2px solid rgb(61, 61, 61);
  min-width: 300px;
}
